
/*
 :::  Tags
-------------------------------------------------- */
.tags {
  display: inline-block;
}

.tags li {
  display: inline-block;
  margin-right: .25em;
  text-transform: lowercase;
}


/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 1em 0;
}
.nextprev a {
  border: 0;
}
.nextprev .prev {
  float: left;
}
.nextprev .next {
  float: right;
}


/*
 :::  Pagination
-------------------------------------------------- */
.pagination {
  margin: 3em 0 5em;
}

.pagination .prev {
    float: left;
}

.pagination .next {
    float: right;
}


/*
::: Site Header
-------------------------------------------------- */
.author-image {
	float: left;
	margin-right: 6px;
	width: 120px;
}

.search {
	margin-top:8px;
}

/*
:::  Site footer
-------------------------------------------------- */
footer {
  display:block;
}


.site-footer {
  padding: 1em 0;
  font-size: 0.8em;
  line-height: 1.5;
  border-top: 1px solid #333;
}


code { 
	font-weight: bold; background: #ECECE6; display: block;}
}

ol, ul {
  list-style: none;
}

.site-footer {
  padding: 1em 0;
  font-size: 0.8em;
  line-height: 1.5;
  border-top: 1px solid #333;
}

/* Footer
-------------------------------------------------- */
.footer {
  padding: 1em 0 6em;
  padding-left: 4em;
  padding-right: 4em;
  font-size: .8em;
}
.copyright {
  float: left;
}
.colophon {
  float: right;
}
.colophon a b {
  color: red;
  padding-left: .25em;
}


/*
:::  Clearfix [cf]
-------------------------------------------------- */
.cf:after {
  content: '';
  display: table;
  clear: both;
}

/* copied from foundation.css*/

pre, blockquote { 
	border: 1px solid #999; 
	page-break-inside: avoid;
	background: #eee;
}

/* Lists ---------------------- */
ul, ol, dl { font-size: 14px; line-height: 1.6; margin-bottom: 17px; list-style-position: outside; }

ul li ul, ul li ol { margin-left: 20px; margin-bottom: 0; }
ul.square, ul.circle, ul.disc { margin-left: 17px; }
ul.square { list-style-type: square; }
ul.square li ul { list-style: inherit; }
ul.circle { list-style-type: circle; }
ul.circle li ul { list-style: inherit; }
ul.disc { list-style-type: disc; }
ul.disc li ul { list-style: inherit; }
ul.no-bullet { list-style: none; }
ul.large li { line-height: 21px; }

ol { margin-left: 20px; }
ul { margin-left: 20px; }      /* needed to correct position; don't know why!! */


/* Login (see panel login)
-------------------------------------------------- */
.grey { background-color: #B2B2B2;}
.modal-content .form {  padding: 1.5em; background-color: #FFFFFF;}  
@media screen and (min-width: 50em) {  
	.modal {   position: fixed;   top: 0;   left: 0;   right: 0;   bottom: 0;   height: 100%;   z-index: 1;   
		       background: rgba(0,0,0, .2);  
		   }  
	.modal-content { position: absolute;   width: 22em;   top: 200px;   left: 50%;   border-radius: 3px;   
		             box-shadow: rgba(0,0,0, .1) 0 2px 10px;   z-index: 2;   
					 -webkit-transform: translate(-50%, -50%);   -moz-transform: translate(-50%, -50%);   
					 -ms-transform: translate(-50%, -50%);   transform: translate(-50%, -50%);   margin: 0;  
					} 
} 
